@import 'utils';

.menu {
    .category {
        height: 2rem;
        width: 1400px;
        margin: 0 auto;
        padding-left: 3rem;
        padding-right: 3rem;

        display: flex;
        align-items: center;

        @include media("<wide") {
            width: 100%;
        }
        @include media("<medium") {
            padding-left: 1rem;
            padding-right: 1rem;
        }
        .category-item{
            height: 30rem;
            width: 1400px;
            margin: 0 auto;
            align-items: center;
            padding: 30px;
        }

        .item {
            align-items: center;
            padding: 30px;
            margin: 30px;
        }
    }
}

.hr {
    height: 5px;
    width: 100%;
    border: 0;
}
