@import 'utils';

.auction {
	display: grid; 
  	grid-template-columns: repeat(2, 1fr); 
  	grid-auto-rows: 100px;
	
	.sall {	
		grid-column-start: 1; 
		grid-column-end: 2; 
		grid-row-start: 1;
		
		margin-right: 2px;
		box-shadow: -12px, 0, 12px, 12px rgba(0, 0, 0, 0.5);
		
		.sall-title {
			background-color: $oc-red-4;
			text-align: center;
			color: white;
			font-size: 1rem;
			font-weight: 550;
			padding: 10px;
			cursor: pointer;
		}
		.sall-option {
			display:flex;
			cursor: pointer;

			color: $oc-gray-4;
			font-size: 0.8rem;
			font-weight: 550;
			text-align: center;

			border-bottom: 1px solid $oc-red-6;
			padding: 10px;
			width:100%;

			.o1 {
				flex: 1;		
				&:hover{
					color: $oc-red-6;
				}
			}
			.o2 {
				flex: 1;		
				&:hover{
					color: $oc-red-6;
				}
			}
			.o3{
				flex: 1;
				&:hover{
					color: $oc-red-6;
				}
			}
		}
	}
	
	.buy {
		grid-column-start: 2; 
		grid-column-end: 3; 
		grid-row-start: 1;

		margin-left: 2px;
		
		.buy-title {
			background-color: $oc-orange-4;
			text-align: center;
			color: white;
			font-size: 1rem;
			font-weight: 550;
			padding: 10px;
			cursor: pointer;
		}
		.buy-option {
			display:flex;
			cursor: pointer;

			color: $oc-gray-4;
			font-size: 0.8rem;
			font-weight: 550;
			text-align: center;

			border-bottom: 1px solid $oc-orange-6;
			padding: 10px;
			width:100%;

			.o1 {
				flex: 1;		
				&:hover{
					color: $oc-orange-6;
				}
			}
			.o2 {
				flex: 1;		
				&:hover{
					color: $oc-orange-6;
				}
			}
			.o3{
				flex: 1;
				&:hover{
					color: $oc-orange-6;
				}
			}
		}
	}
	
	.items {
		padding: 10px;
		.item {
			display: grid;

			border-radius: 20px;
			background-color: $oc-gray-2;
			margin-bottom: 10px;

			.image{
				width: 170px;
				height: 110px;
				
				grid-column-start: 1; 
				grid-column-end: 2; 
				grid-row-start: 1; 
				grid-row-end: 4;

				border-radius: 20px;
				background-color: $oc-gray-6;
				margin: 10px;
				margin-right: 20px;
				
				
			
			background-image: url({data});

			}
			.product{
				grid-column-start: 2; 
				grid-column-end: 3; 
				grid-row-start: 1; 
				grid-row-end: 4;

				text-align: left;
				.product-name{
					margin: 10px;
					font-size: 1rem;
					font-weight: 550;
				}
				.product-info {
					margin: 10px;
					font-size: 0.8rem;
					font-weight: 500;
				}
			}
			.room-info {
				grid-column-start: 3; 
				grid-column-end: 4; 
				grid-row-start: 1; 
				grid-row-end:3;

				margin: 10px;
				font-size: 0.7rem;
				font-weight: 200;
				text-align: right;
			}
			.current-price {
				grid-column-start: 3; 
				grid-column-end: 4; 
				grid-row-start: 3; 
				grid-row-end: 4;

				margin: 10px;
				margin-top: 50px;
				font-size: 1.2rem;
				font-weight: 550;
				text-align: right;
			}
			.join {
				grid-column-start: 1; 
				grid-column-end: 4; 
				grid-row-start: 4; 
				grid-row-end: 5;

				background-color: $oc-gray-6;
				text-align: center;

				font-size: 1rem;
				font-weight: 550;
				color: white;

				border-bottom-left-radius: 20px;
				border-bottom-right-radius: 20px;
				padding: 5px;
				cursor: pointer;
			}
		}
	}
}