@import 'utils';

.menu {
    .category {
        height: 2rem;
        width: 1400px;
        margin: 0 auto;
        padding-left: 30rem;
        padding-right: 30rem;
        padding: 10px;

        display: flex;
        align-items: center;
        text-align: center;

        @include media("<wide") {
            width: 100%;
        }
        @include media("<medium") {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .item {
            flex: 1;
            &:hover{
                color: #FC5C82;
            }
        }
    }
}

.hr {
    height: 5px;
    width: 100%;
    border: 0;
}
