@import 'utils';

.header {
    background: white;
    .header-content {
        height: 10rem;
        width: 1400px;
        margin: 0 auto;
        padding-left: 3rem;
        padding-right: 3rem;

        display: flex;
        align-items: center;

        @include media("<wide") {
            width: 100%;
        }
        @include media("<medium") {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .brand {
            display: position;
            color: #f21172;
            font-size: 2rem;
            font-weight: 600;
            padding-top: 1.5rem;
        }

        .search {
            border-radius: 0px;
            width: 30%;
            padding: 3rem;
            flex: 1;
            flex-direction: column;
            display: flex;

            .def {
                font-size: 0.8rem;
                padding-bottom: 0.5rem;
                color: #f21172;
                text-align: center;
            }
        }

        .icons {
            padding-left: 1.5rem;
            padding-top: 2rem;
        }
    }
}

.hr {
    height: 12px;
    border: 0;
}
