@import 'utils';

.roomlist{
    height: 18rem;
    width: 1400px;
    margin: 0 auto;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #ffffff;

    display: flex;
    align-items: center;

    @include media("<wide") {
        width: 100%;
    }
    @include media("<medium") {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .title{
        font-size: 3rem;
        font-weight: 600;
        flex: 1;
    }

    .button{
        position: re;
        float: right;
    }
}
